  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');">
    <div class="banner-content">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

        <% if !@doses.nil? %>
        <h3>Recipe</h3>
        <ul>
          <% @doses.each do |dose| %>
          <li>
            <%= dose.ingredient.name %> - <%= dose.description %>
            (<%= link_to "delete", dose_path(dose), method: :delete,
            data: { confirm: "Are you sure?" } %>)
          </li>
          <% end %>
        </ul>
        <% end %>

      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Add an ingredient ?</h3>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <% if @dose.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @dose.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

          <%= f.association :ingredient, collection: Ingredient.all.order("name ASC"),  input_html: { class: 'select2' } %>

          <%= f.input :description %>

          <%= f.submit "Add dose", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
